.w3-margin-top-60 {
  margin-top: 60px !important;
}
.text-mid {
  text-align: center;
}
.w3-content {
  background-color: white;
}
.text-font-size {
  font-size: 1.5em;
}
.text-red {
  color: #f35955;
}
